body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-shadow: 0 0 10px #E0E0E0;
    font-family: sans-serif;
}
/*-------------Header : START-------------*/

.header{
    margin: auto;
    min-height: 25vh;
    padding: 0;
    width: 95%;
}

.header__desciption{
    margin-top: 20px;
    min-height: 180px;
    height: auto;
    background-color: #121212;
    text-align: center;
    background-image: url(nav-section/paisaje-del-arco-iris-del-anime.webp);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 12px;
    text-wrap: pretty;/*Lo que hace es que nunca halla una palabra herfana*/
}

.description__title{
    color: #E0E0E0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.description__p{
    font-size: 19px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: 	#E0E0E0;
}

/*-------------Header : END-------------*/


/*-------------Seccion de pago: START-------------*/

.desc__title{
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: 	#E0E0E0;
    text-shadow: 0 0 4px #D9A441 ;
}

.paid-plans{
    width: 90%;
    margin: auto;
    margin-top: 5rem;
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 0 10px #D9A441 ;
    color: 	#E0E0E0;
    background-color: #1E1E1E;
}

.paid-plans__benefits{
    padding-bottom: 25px;
    width: 100%;
    display: grid;
    justify-content: center;
    margin: auto;
    grid-template-columns: repeat(4 , minmax(100px, 200px));
    grid-template-rows: repeat(2 , minmax(100px, 200px));
    grid-auto-flow: dense;
    gap: 15px;
}

.benefits__item{
    border-radius: 8px;
    overflow: hidden;
}

.benefits__desc{   
    margin: 0;
    text-shadow: 0 0 4px #5F6CAF ;
    background-color: #131212;
    font-family: 'Montserrat', sans-serif;
}

.benefits__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.item2{
    grid-column: span 2
}

.img__item4{
    object-position: 50% 15%;
}

.item4{
    grid-column: span 4;
}
/*-------------Seccion de pago: END-------------*/

/*-------------Seccion de navegacion Recomendada: START-------------*/
.gallery-recomend{
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 0px;
    padding-bottom: 0;
}

.gallery-recomend{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: block;
    color: rgb(39, 41, 43);
    font-size: 24px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.navigator{
    margin:0 auto;
    width: 95%;
    min-height: 300px;
    background-color: #1E1E1E;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    box-shadow: 0 0 10px #48e;
    gap: 10px;
}

.navigator__item{
    margin: 2rem auto;
    min-width: 200px;
    width: 300px;
    height: 200px;
    position: relative;
    text-decoration:none;
    overflow: hidden;
    border-radius: 6px;
    border-left:7px solid rgb(91, 11, 172) ;
}

.item__img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease;
}

.item__img:hover{
    transform: scale(1.1);
}

.item__title{
    position: absolute;
    transform: translate(-50% ,-50%);/*pone el elemento a esquina superir izquierda*/
    top: 50%;
    left: 50%;
    color: #E0E0E0;
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 0 0 10px black;
    pointer-events: none;
}
/*-------------Seccion de navegacion Recomendada: END-------------*/

/*-------------Galeria: START-------------*/
.gallery{
    width: 95%;
    padding: 12px;
    background-color: #1E1E1E;
    margin: 5rem auto;
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fill,minmax(250px , 1fr));
    grid-template-rows: repeat(auto-fill,minmax(200px , 1fr));
    gap: 15px;
}

.gallery__item{
    position: relative;
}

.gallery__title{
    position: absolute;
    transform: translate(-50% ,-50%);/*pone el elemento a esquina superir izquierda*/
    top: 50%;
    left: 50%;
    color: #48e;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
}

.gallery__img{
    border-radius: 8px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform .3s ease;
}

.gallery__img:hover{
    transform: scale(1.1);
}


.gallery__item:nth-child(2){
    grid-row: span 2;
}

.gallery__item:nth-child(6){
    grid-column: span 2;
}

.gallery__item:nth-child(7){
    grid-row: span 2;
    grid-column: span 2;
}

.gallery__item:nth-child(12){
    grid-row: span 2;
}


.gallery__item:nth-child(17){
    grid-row: span 2;
}

.gallery__item:nth-child(21){
    grid-row: span 2;
}

.gallery__item:nth-child(19){
    grid-column: span 2;
}

.gallery__item:last-child{
    grid-column: span 2;
}
/*-------------Galeria: END-------------*/


/*-------------Galeria Responsive: START-------------*/

@media screen and (max-width: 1190px) {

    .gallery{
    width: 95%;
    padding: 12px;
    background-color: #1E1E1E;
    margin: 5rem auto;
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(1,minmax(150px , 1fr));
    grid-template-rows: repeat(1,minmax(100px , 120px));
}

    .gallery__item:nth-child(2){
    grid-row: span 1;
}

.gallery__item:nth-child(6){
    grid-column: span 1;
}

.gallery__item:nth-child(7){
    grid-row: span 1;
    grid-column: span 1;
}

.gallery__item:nth-child(12){
    grid-row: span 1;
}


.gallery__item:nth-child(17){
    grid-row: span 1;
}

.gallery__item:nth-child(21){
    grid-row: span 1;
}

.gallery__item:nth-child(19){
    grid-column: span 1;
}

.gallery__item:last-child{
    grid-column: span 1;
}
}

/*-------------Galeria Responsive: END-------------*/

/*-------------Footer: START-------------*/
.footer{
    width: 100%;
    height: auto;
    background-color: #D9A441;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.container__footer{
    height: auto;
    width: 90%;
    margin: 20px auto;
    border-radius: 4px;
    background-color: #131212;
}

.footer__title{
    margin-bottom: 0;
    padding: 4px;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: 	#E0E0E0;
}

.footer__list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 12px;
    list-style: none;
}

.list__link{
    font: 19px;
    color: #5F6CAF;
    text-decoration: none;
    transition: text-decoration 0.1s ease;
}

.list__link:hover{
    text-decoration: underline;
}

.list__item{
    margin: 10px;
    padding: 5px;
}